h1{
    
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;

    
    
}